* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  /* color: rgba(39, 163, 2, 25); */
  background-color: #ACBED8;
}

hr.header,
hr.footer {
  border-top: 3px solid black;
}

table {
  background-color: #709EDF;
  width: 75%;
}

thead {
  background-color: #2D3F59;
}

header {
  display: inline-block;
  width: 100%;
  text-align: left;
}

h1.site-title {
  margin-top: 0;
}

img {
  margin-right: 15px;
  border-radius: 50%;
}

div.header-logo {
  display: inline;
}

.header-logo img{
  float: left;
  width: 100px;
  height: 100px;
}

header ul li {
  list-style: none;
  display: inline;
  left: 0;
}


/* h2 .cta-tag {
  
} */

section.cta {

  /* width: 200px;
  height: 100px;
  background: red; */
  border-radius: 100px / 50px;

  color: #000;
  margin: 0;
  margin-top: 50px;
  margin-right: 350px;
  margin-left: 350px;
  margin-bottom: 50px;
  border: 3px solid #2D3F59;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #709EDF;
}

form {
  display: flex;
  justify-content: center;
  background-color: #709EDF;
}

/* p .cta {
  margin: 0;
  padding: 0;
} */

footer .page-footer {
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

footer .page-footer ul {
  list-style: none;
}

footer .helpful-links,
footer .brand-map,
footer .social-map {
  padding-left: 25px;
}

/* footer .helpful-links {
  flex: 6;
}

footer .brand-map {
  flex: 4;
}

footer .social-map {
  flex: 6; */
}